.desktop-blog-02,
.desktop-blog-02 * {
  box-sizing: border-box;
}
.desktop-blog-02 {
  background: var(--neutral-background-faf9f5, #faf9f5);
  height: 2136px;
  position: relative;
  overflow: hidden;
}
.unsplash-pe-9-ix-uu-c-6-qu {
  width: 912px;
  height: 513px;
  position: absolute;
  left: calc(50% - 612px);
  top: 192px;
  object-fit: cover;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 612px);
  top: 139px;
}
.breadcrumbs-elements {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 45px;
  position: relative;
}
.home {
  color: var(--neutral-gray-606060, #606060);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.arrow-forward-ios {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.arrow-forward-ios2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.home2 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(--web-h6-font-family, "OpenSans-Bold", sans-serif);
  font-size: var(--web-h6-font-size, 16px);
  line-height: var(--web-h6-line-height, 140%);
  font-weight: var(--web-h6-font-weight, 700);
  position: relative;
}
.frame-26085578 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 912px;
  position: absolute;
  left: calc(50% - 612px);
  top: 737px;
}
.frame-26085574 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.how-to-get-clear-skin-fast {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(--web-h3-font-family, "OpenSans-Bold", sans-serif);
  font-size: var(--web-h3-font-size, 32px);
  line-height: var(--web-h3-line-height, 140%);
  font-weight: var(--web-h3-font-weight, 700);
  position: relative;
  width: 912px;
}
.frame-26085647 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.jan-20-2021 {
  color: var(--neutral-gray-606060, #606060);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.line-8 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--neutral-gray-606060, #606060);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 24px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.dr-wade-warren {
  color: var(--neutral-gray-606060, #606060);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.line-9 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--neutral-gray-606060, #606060);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 24px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.skincare {
  color: var(--neutral-gray-606060, #606060);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.frame-26085576 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 912px;
  position: relative;
}
.frame-26085648 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 912px;
  position: relative;
}
.n {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 96px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
}
.umerous-skin-care-tips-exist-for-different-skin-types-and-there-are-also-general-tips-that-people-can-try-anyone-uncertain-about-their-skin-care-routine-should-consult-a-dermatologist-for-additional-advice {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(--web-body-lg-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-lg-font-size, 18px);
  line-height: var(--web-body-lg-line-height, 180%);
  font-weight: var(--web-body-lg-font-weight, 400);
  position: relative;
  width: 825px;
}
.many-people-find-it-difficult-to-get-clear-skin-the-methods-for-getting-clear-skin-will-vary-depending-on-the-person-s-skin-type-in-general-people-struggling-with-acne-or-blemishes-have-skin-that-is-dry-oily-or-a-combination-of-the-two {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(--web-body-lg-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-lg-font-size, 18px);
  line-height: var(--web-body-lg-line-height, 180%);
  font-weight: var(--web-body-lg-font-weight, 400);
  position: relative;
  width: 912px;
}
.avoid-popping-pimples {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(--web-h5-font-family, "OpenSans-Bold", sans-serif);
  font-size: var(--web-h5-font-size, 20px);
  line-height: var(--web-h5-line-height, 140%);
  font-weight: var(--web-h5-font-weight, 700);
  position: relative;
  width: 912px;
}
.a-pimple-indicates-trapped-oil-sebum-and-bacteria-it-is-also-a-sign-that-the-body-s-natural-healing-mechanism-is-working-popping-the-pimple-disrupts-this-healing-process-additionally-the-released-liquids-expose-the-surrounding-skin-to-similar-bacteria-increasing-the-risk-of-additional-pimples-forming-the-exposed-pimple-may-also-lead-to-permanent-scarring-whenever-possible-avoid-popping-pimples-if-they-drain-keep-the-area-clean {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(--web-body-lg-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-lg-font-size, 18px);
  line-height: var(--web-body-lg-line-height, 180%);
  font-weight: var(--web-body-lg-font-weight, 400);
  position: relative;
  width: 912px;
}
.a-pimple-indicates-trapped-oil-sebum-and-bacteria-it-is-also-a-sign-that-the-body-s-natural-healing-mechanism-is-working-popping-the-pimple-disrupts-this-healing-process-additionally-the-released-liquids-expose-the-surrounding-skin-to-similar-bacteria-increasing-the-risk-of-additional-pimples-forming-the-exposed-pimple-may-also-lead-to-permanent-scarring-whenever-possible-avoid-popping-pimples-if-they-drain-keep-the-area-clean-span {
  color: var(--black, #0c0c0c);
  font-family: var(--web-body-lg-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-lg-font-size, 18px);
  line-height: var(--web-body-lg-line-height, 180%);
  font-weight: var(--web-body-lg-font-weight, 400);
}
.a-pimple-indicates-trapped-oil-sebum-and-bacteria-it-is-also-a-sign-that-the-body-s-natural-healing-mechanism-is-working-popping-the-pimple-disrupts-this-healing-process-additionally-the-released-liquids-expose-the-surrounding-skin-to-similar-bacteria-increasing-the-risk-of-additional-pimples-forming-the-exposed-pimple-may-also-lead-to-permanent-scarring-whenever-possible-avoid-popping-pimples-if-they-drain-keep-the-area-clean-span2 {
  color: var(--black, #0c0c0c);
  font-family: var(--web-body-lg-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-lg-font-size, 18px);
  line-height: var(--web-body-lg-line-height, 180%);
  font-weight: var(--web-body-lg-font-weight, 400);
}
.a-pimple-indicates-trapped-oil-sebum-and-bacteria-it-is-also-a-sign-that-the-body-s-natural-healing-mechanism-is-working-popping-the-pimple-disrupts-this-healing-process-additionally-the-released-liquids-expose-the-surrounding-skin-to-similar-bacteria-increasing-the-risk-of-additional-pimples-forming-the-exposed-pimple-may-also-lead-to-permanent-scarring-whenever-possible-avoid-popping-pimples-if-they-drain-keep-the-area-clean-span3 {
  color: var(--black, #0c0c0c);
  font-family: var(--web-body-lg-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-lg-font-size, 18px);
  line-height: var(--web-body-lg-line-height, 180%);
  font-weight: var(--web-body-lg-font-weight, 400);
}
.wash-twice-daily-and-again-after-sweating {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(--web-h5-font-family, "OpenSans-Bold", sans-serif);
  font-size: var(--web-h5-font-size, 20px);
  line-height: var(--web-h5-line-height, 140%);
  font-weight: var(--web-h5-font-weight, 700);
  position: relative;
  width: 912px;
}
.the-american-academy-of-dermatology-recommend-that-people-wash-twice-daily-and-then-again-after-sweating-leaving-sweat-on-the-skin-and-allowing-it-to-dry-can-make-acne-worse-so-it-is-best-to-wash-the-skin-as-soon-as-possible-after-sweating {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(--web-body-lg-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-lg-font-size, 18px);
  line-height: var(--web-body-lg-line-height, 180%);
  font-weight: var(--web-body-lg-font-weight, 400);
  position: relative;
  width: 912px;
}
.frame-26085666 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - -324px);
  top: 272px;
}
.latest {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(--web-h4-font-family, "OpenSans-Bold", sans-serif);
  font-size: var(--web-h4-font-size, 24px);
  line-height: var(--web-h4-line-height, 140%);
  font-weight: var(--web-h4-font-weight, 700);
  position: relative;
}
.frame-26085575 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.blog-small-card {
  background: var(--white, #ffffff);
  border-style: solid;
  border-color: var(--neutral-gray-dfdfdf, #dfdfdf);
  border-width: 1px;
  padding: 0px 8px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  height: 105px;
  position: relative;
  overflow: hidden;
}
.unsplash-q-tgtjpk-m-7-r-4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  object-fit: cover;
}
.how-to-get-clear-skin-fast2 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(
    --web-caption-lg-font-family,
    "OpenSans-SemiBold",
    sans-serif
  );
  font-size: var(--web-caption-lg-font-size, 14px);
  line-height: var(--web-caption-lg-line-height, 180%);
  font-weight: var(--web-caption-lg-font-weight, 600);
  position: relative;
  flex: 1;
}
.footer {
  background: var(--primary-primary-750, #3d021e);
  width: 100%;
  height: 644px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 1492px;
  overflow: hidden;
}
.bg-logo {
  width: 29.72%;
  height: 84.79%;
  position: absolute;
  right: -36.46%;
  left: 106.74%;
  bottom: -10.88%;
  top: 26.09%;
  transform: translate(-428px, 0px);
  overflow: visible;
}
.left-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: calc(50% - 612px);
  top: 184px;
}
.how-can-we-help {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: var(--web-h4-font-family, "OpenSans-Bold", sans-serif);
  font-size: var(--web-h4-font-size, 24px);
  line-height: var(--web-h4-line-height, 140%);
  font-weight: var(--web-h4-font-weight, 700);
  position: relative;
}
.frame-139 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 222px;
  position: relative;
}
.beautya-branches {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.contact-us {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.faq {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.our-brand {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.blog {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.middle-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: calc(50% - 252px);
  top: 184px;
}
.products {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: var(--web-h4-font-family, "OpenSans-Bold", sans-serif);
  font-size: var(--web-h4-font-size, 24px);
  line-height: var(--web-h4-line-height, 140%);
  font-weight: var(--web-h4-font-weight, 700);
  position: relative;
}
.frame-1392 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.women-make-up {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.women-skincare {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.gifts-sets {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
}
.right-section {
  width: 600px;
  height: 271px;
  position: absolute;
  left: calc(50% - -12px);
  top: 184px;
}
.join-the-beautya-newsletter-and-be-first-to-hear-about-news-offers-and-skincare-advice {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 50px;
  width: 600px;
}
.keep-in-touch-with-beautya {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-h4-font-family, "OpenSans-Bold", sans-serif);
  font-size: var(--web-h4-font-size, 24px);
  line-height: var(--web-h4-line-height, 140%);
  font-weight: var(--web-h4-font-weight, 700);
  position: absolute;
  left: 0px;
  top: 0px;
}
.input-field {
  border-style: solid;
  border-color: var(--neutral-gray-cbcbcb, #cbcbcb);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 480px;
  height: 56px;
  position: absolute;
  left: calc(50% - 300px);
  top: 124px;
}
.text-field {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.icon-and-label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.label-optional-required {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.label-optional {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.label {
  color: var(--neutral-gray-cbcbcb, #cbcbcb);
  text-align: left;
  font-family: var(--web-body-xl-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-xl-font-size, 20px);
  line-height: var(--web-body-xl-line-height, 180%);
  font-weight: var(--web-body-xl-font-weight, 400);
  position: relative;
}
.terms-and-conditions-check {
  width: 600px;
  height: 75px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 188px;
}
.check-box {
  width: 16px;
  height: 16px;
  position: absolute;
  left: calc(50% - 300px);
  top: 4px;
}
.rectangle-123 {
  border-radius: 2px;
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 2px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.by-submitting-your-email-you-agree-to-receive-advertising-emails-from-beautya-please-review-our-privacy-policy-which-includes-our-financial-incentive-notice-for-ca-residents {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-body-sm-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-sm-font-size, 14px);
  line-height: var(--web-body-sm-line-height, 180%);
  font-weight: var(--web-body-sm-font-weight, 400);
  position: absolute;
  left: 26px;
  top: 0px;
  width: 574px;
}
.button {
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 2px;
  opacity: 0.4;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 48px;
  position: absolute;
  left: 496px;
  top: 132px;
}
.text {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-button-lg-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-button-lg-font-size, 16px);
  line-height: var(--web-button-lg-line-height, 180%);
  font-weight: var(--web-button-lg-font-weight, 400);
  position: relative;
}
.copyright-and-privacy-section {
  background: var(--primary-primary-900, #14010a);
  width: 100%;
  height: 56px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 588px;
  overflow: hidden;
}
.copyright {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 612px);
  top: 16px;
}
.copyright2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._2023-beautya-all-rights-reserved {
  color: var(--neutral-gray-cbcbcb, #cbcbcb);
  text-align: left;
  font-family: var(
    --web-overline-sm-font-family,
    "OpenSans-SemiBold",
    sans-serif
  );
  font-size: var(--web-overline-sm-font-size, 12px);
  letter-spacing: var(--web-overline-sm-letter-spacing, 0.8px);
  font-weight: var(--web-overline-sm-font-weight, 600);
  position: relative;
}
.terms-and-privacy {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - -402px);
  top: 17px;
}
.terms-conditions {
  color: var(--neutral-gray-cbcbcb, #cbcbcb);
  text-align: left;
  font-family: var(
    --web-caption-md-font-family,
    "OpenSans-Regular",
    sans-serif
  );
  font-size: var(--web-caption-md-font-size, 12px);
  line-height: var(--web-caption-md-line-height, 180%);
  font-weight: var(--web-caption-md-font-weight, 400);
  position: relative;
}
.privacy-policy {
  color: var(--neutral-gray-cbcbcb, #cbcbcb);
  text-align: left;
  font-family: var(
    --web-caption-md-font-family,
    "OpenSans-Regular",
    sans-serif
  );
  font-size: var(--web-caption-md-font-size, 12px);
  line-height: var(--web-caption-md-line-height, 180%);
  font-weight: var(--web-caption-md-font-weight, 400);
  position: relative;
}
.social-media-and-location-section {
  background: var(--primary-primary-800, #280114);
  width: 100%;
  height: 69px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 519px;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - -332px);
  top: 15px;
}
.icon-button {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.group {
  width: 99.94%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0.06%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.vector {
  width: 99.94%;
  height: 100%;
  position: absolute;
  right: 0.06%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.facebook {
  border-radius: 6px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.twitter {
  border-radius: 6px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.pinterest {
  border-radius: 6px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.reddit {
  border-radius: 6px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.tik-tok {
  border-radius: 6px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.button2 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 374px);
  top: 12px;
}
.call {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.learn-more {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--web-button-lg-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-button-lg-font-size, 16px);
  line-height: var(--web-button-lg-line-height, 180%);
  font-weight: var(--web-button-lg-font-weight, 400);
  position: relative;
}
.button3 {
  padding: 8px 16px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 612px);
  top: 12px;
}
.location-on {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.indicator {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--primary-primary-200, #fa58a6);
  border-width: 1px 0 0 0;
  width: 24px;
  height: 0px;
  position: absolute;
  left: calc(50% - 374px);
  top: 47px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.value-proposition {
  background: var(--primary-primary-25, #fbeff2);
  padding: 24px 108px 24px 108px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 104px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: calc(50% - 322px);
}
.vp {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bunny-vector {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-26085668 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.no-tests-on-animals {
  color: var(--primary-primary-600, #79043c);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vp2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 291px;
  position: relative;
}
.vectors {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-260856682 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.no-animal-derived-ingredients {
  color: var(--primary-primary-600, #79043c);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vp3 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 296px;
  position: relative;
}
.vectors2 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  overflow: hidden;
}
.wheat {
  width: 72.12%;
  height: 72.12%;
  position: absolute;
  right: 14.29%;
  left: 13.59%;
  bottom: -58.52%;
  top: 86.4%;
  transform: translate(-0.83px, -0.83px);
  overflow: visible;
}
.no-gluten-or-gluten-byproducts {
  color: var(--primary-primary-600, #79043c);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vectors3 {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.group2 {
  height: auto;
  position: absolute;
  left: 6.36px;
  top: 0px;
  overflow: visible;
}
.recyclable-packaging {
  color: var(--primary-primary-600, #79043c);
  text-align: left;
  font-family: var(--web-body-md-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-body-md-font-size, 16px);
  line-height: var(--web-body-md-line-height, 180%);
  font-weight: var(--web-body-md-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-26085665 {
  background: var(--white, #ffffff);
  border-style: solid;
  border-color: var(--neutral-gray-dfdfdf, #dfdfdf);
  border-width: 1px;
  padding: 12px 8px 12px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 288px;
  position: absolute;
  left: calc(50% - -324px);
  top: 192px;
}
.copy-all {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.reddit2 {
  border-radius: 6px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.facebook2 {
  border-radius: 6px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.twitter2 {
  border-radius: 6px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group3 {
  width: 99.94%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0.06%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.vector2 {
  width: 99.94%;
  height: 100%;
  position: absolute;
  right: 0.06%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.header {
  background: var(--white, #ffffff);
  border-style: solid;
  border-color: var(--neutral-gray-dfdfdf, #dfdfdf);
  border-width: 0px 0px 1px 0px;
  width: 1440px;
  height: 107px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2px;
  overflow: hidden;
}
.primary-shadow {
  background: var(--primary, #a10550);
  border-radius: 50%;
  width: 114px;
  height: 114px;
  position: absolute;
  left: 78px;
  top: 19px;
  filter: blur(125px);
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 61px;
}
.element-1 {
  background: var(--white, #ffffff);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.women-make-up2 {
  color: var(--neutral-gray-202020, #202020);
  text-align: left;
  font-family: var(--web-h6-font-family, "OpenSans-Bold", sans-serif);
  font-size: var(--web-h6-font-size, 16px);
  line-height: var(--web-h6-line-height, 140%);
  font-weight: var(--web-h6-font-weight, 700);
  position: relative;
}
.element-2 {
  background: var(--white, #ffffff);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.element-3 {
  background: var(--white, #ffffff);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.element-4 {
  background: var(--white, #ffffff);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.element-5 {
  background: var(--white, #ffffff);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.logo {
  width: 120px;
  height: 59px;
  position: absolute;
  left: calc(50% - 612px);
  top: 24px;
}
.beautya-logo {
  width: 24.17%;
  height: 62.71%;
  position: absolute;
  right: 14.21%;
  left: 61.63%;
  bottom: 37.29%;
  top: 0%;
  transform: translate(-29px, 0px);
  overflow: visible;
}
.beautya {
  width: 100%;
  height: 30.51%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 69.49%;
  overflow: visible;
}
.search-and-lang {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - -508px);
  top: 44px;
}
.search-icon {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--neutral-gray-868686, #868686);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 24px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.button4 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.text2 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: var(--web-button-lg-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--web-button-lg-font-size, 16px);
  line-height: var(--web-button-lg-line-height, 180%);
  font-weight: var(--web-button-lg-font-weight, 400);
  position: relative;
}
