/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --textprimary-font-family: OpenSans-Bold, sans-serif;
  --textprimary-font-size: 16px;
  --textprimary-line-height: 140%;
  --textprimary-font-weight: 700;
  --textprimary-font-style: normal;

  /* Effects */
}
